body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: sans-serif;
}
.upper{
    width: 100%;
    background-color: rgb(221, 218, 218);
    height: 40vh;
    display: flex;
    justify-content: center;
    
}
.text{
    font-size: 25px;
    margin-left: 25%;
}
.p-name{
    font-size: 35px;
}
.lname{
    font-weight: bolder;
    font-size: 45px;
}
.resume{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color:rgb(219, 217, 217);
    margin-left: 4%;
    margin-top: -220px;
    border-radius: 5px;
}
.personal{
    width: 85%;
    margin-top: 50px;
    margin-left: 10%;
}
.personal h2{
    color: white;

}
.my-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 20px;
}
.full-cv{
    display: flex;
    justify-content: space-evenly;
}
.second-part{
    width: 55%;
}
.resume p , h2 {
    margin-left: 10px;
}
.btn{
    width: 100px;
    height: 40px;
    margin-top: 30px;
    background-color: green;
    color: yellow;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: yellow;
    cursor: pointer;
}

@media (max-width: 480px) {

    .upper{
        height:25vh;
        padding: 10px;
       
    }
    .text{
        margin-left: 10%;
    }
    .p-name{
        font-size: 30px;
        margin-top: 10%;
    }
    .full-cv{
        margin-left: 0px;
        justify-content: left;
        
    }
    .resume{
        width: 40%;
        margin-left: 15px;
        height: fit-content;
        margin-left: 7px;
        
    }
   
    .second-part{
        width: 57%;
        margin-left: 2%;
        margin-top: -200px;
    }
    .my-image{
        width: 100px;
        height: 100px;
    }
    .personal{
        margin-top: -140px;
    }.full-cv{
        margin-top: 127px;
    }

}